---
---
@import url('https://unpkg.com/tachyons@{{ site.tv }}/css/tachyons.min.css');
$color-666: #666666;
$color-meme: #420666;

.gray-666 {color:$color-666;}
.color-meme {color:$color-meme;}

//browser picture for marketing design
.browser{
	background-color: #E4ECF3;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    padding-top: 32px;
    position: relative;
		 &:before {
			content: '...';
        position: absolute;
        top: 0;
        left: 10px;
        line-height: 0.7rem;
        font-size: 2.5em;
        color: #C0C4CC;
        font-weight: bold;
        letter-spacing:0.2rem
      }
}
.overflow{
	height: 568px;
}
//on text over, show image
.img-holder{
	top:240px;
	right:5%;
	/*box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);*/

	/*position: absolute;
	z-index: 1;
	display:none;*/
}
.img-hover:hover .img-holder{
	display:block;
}

// Fonts
//Gza
@font-face {
	font-family: 'You';
	src: url('../assets/fonts/gza-seminegra.eot');
	src: url('../assets/fonts/gza-seminegra.eot?#iefix') format('embedded-opentype'),
             url('../assets/fonts/gza-seminegra.woff2') format('woff2'),
	     url('../assets/fonts/gza-seminegra.woff') format('woff'),
	     url('../assets/fonts/gza-seminegra.ttf') format('truetype'),
	     url('../assets/fonts/gza-seminegra.woff.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//GT America
@font-face {
	font-family: 'GT America';
	src: url('../assets/fonts/GT-America-Standard-Regular.eot');
	src: url('../assets/GT-America-Standard-Regular.eot?#iefix') format('embedded-opentype'),
             url('../assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
	     url('../assets/fonts/GT-America-Standard-Regular.woff') format('woff'),
	     url('../assets/fonts/GT-America-Standard-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
//Bayle
@font-face {
	font-family: 'vs the man she told you not to worry about';
	src: url('../assets/fonts/bayle-mono.eot');
	src: url('../assets/bayle-mono.eot?#iefix') format('embedded-opentype'),
             url('../assets/fonts/bayle-mono.woff2') format('woff2'),
	     url('../assets/fonts/bayle-mono.woff') format('woff'),
	     url('../assets/fonts/bayle-mono.ttf') format('truetype'),
	     url('../assets/fonts/bayle-mono.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

$gza: "You";
$mono: "vs the man she told you not to worry about";

.mono {
  font-family: $mono,monospaced;
  font-weight: normal;
}
.serif {
  font-family: $gza, serif;
  font-weight: normal;
}

.text {
	font-family: "GT America", serif;
  font-weight: normal;
}
.gt-ss03 {
	font-feature-settings: 'ss03' 1;
}

@media screen and (min-width: 30em){
.f2-ns{
  font-size: 2rem;
}
}

h1,h2,h3 {
	font-family: $gza;
	font-weight: normal;
	margin-top:32px;
	margin-bottom:8px;
	line-height: 1;
}
h3{
	color:$color-666;
}

h4 {
	font-family:$mono;
	font-weight: normal;
	font-size: 18px;
	margin-top:16px;
	margin-bottom: 8px;
	color: $color-666;
}

p {
	margin-top:8px;
	margin-bottom: 32px;
	}
.line {
	text-decoration: none;
	color: $color-meme;
	display: inline-block;
	position: relative;
	z-index: 1;
	}
.line:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		background-color: rgba(156,235,254,1);
		bottom: 5px;
		right: 0;
		z-index: -1;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		border-radius: 0;
		}
	.line:hover:after {
		bottom: 2px;
		background-color: rgba(156,235,254,0.5);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		height: 22px;
		left:0;
		border-radius: 1px;
		}
body{
	background-color: #f9f9f9;
}

.masonry {
		column-count: 1;
	  column-gap:0;
	@media (min-width: 30em){
	column-count: 3;
  column-gap: 8px;
}
}
// SWOOOPPPYYYY //

#swoopy{
	background-image: url(/assets/swoopy.png);
  background-size: cover;
  background-position: 10% 40%;
	z-index:-1;
}
