<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="swoopy">
    <div>
      <div class="black pa3 cf center mw9-l center-l">
        {{ content }}
      </div>
    </div>
  </body>
  <footer class="mt6-l pa3 ph5-ns black-70 serif center mw9-l center-l">
    <ul class="list pv4 ph0 ph3-ns mono moon-gray">
    <li class="dib mr1"><a href="{{site.github}}" class="f6 f5-ns db pv2 pr2 pv0-ns link dim silver">Github</a></li>
    <li class="dib mr1"><a href="{{site.dribbble}}" class="f6 f5-ns db pa2 pv0-ns link dim silver">Dribbble</a></li>
    <li class="dib mr1"><a href="{{site.arena}}" class="f6 f5-ns db pa2 pv0-ns link dim silver">Arena</a></li>
    <li class="dib mr1"><a href="mailto:{{site.email}}" class="f6 f5-ns db pa2 pv0-ns link dim silver">Email</a></li>
  </ul>
  </div>
  </footer>


</html>
