---
layout: default
---

<nav class="dt w-100 border-box pa3 ph5-l mw9-l center">
<a class="dtc v-mid mid-gray link dim serif tracked-tight" href="https://{{site.url}}" title="Home">
    <h3 class="lh-solid mv0">Back to Home</h3>
  </a>
  <div class="dtc v-mid w-75 tr mono">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="mailto:{{site.email}}" title="Store">Email</a>

  </div>
</nav>
<article class="mt6 mb4 serif mw8 center">
  <header class="center measure-wide ph3 ph3-sm ph0-l mb4">
    <h1 class="f2 mb0">{{ page.title }}</h1>
    <p class="f4 mono gray-666 db mr2 mt3 silver">{{ page.subheader}}</p>
    <ul class="list mt0 ph0 mono gray f5">
      <li class="gray-666 lh-title dib mr2">{{ page.contribution1 }}</li>
      <li class="gray-666 lh-title dib mr2">{{ page.contribution2 }}</li>
      <li class="gray-666 lh-title dib mr2">{{ page.contribution3 }}</li>
      <li class="gray-666 lh-title dib mr2">{{ page.contribution4 }}</li>
      <li class="gray-666 lh-title dib mr2">{{ page.contribution5 }}</li>
      <li class="gray-666 lh-title dib mr2">{{ page.contribution6 }}</li>
    </ul>
  </header>
  <div>
    {{ content }}
  </div>
</article>
