---
layout: default
---

<nav class="dt w-100 border-box pa3 ph5-l mw9-l center">
<a class="dtc v-mid mid-gray link dim" href="https://{{site.url}}" title="Home">
    <h4 class="lh-solid mv0 text gt-ss03">← Back</h4>
  </a>
  <div class="dtc v-mid w-75 tr text">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="mailto:{{site.email}}">Email</a>

  </div>
</nav>
<article class="mt6 mb4 serif mw8 center">
  <header class="center measure-wide ph3 ph3-sm ph0-l mb4">
    <h1 class="f2 mb0">{{ page.title }}</h1>
    <ul class="list mt3 ph0 mono gray f5">
      <li class="gray-666 lh-title dib mr1">{{ page.subheader1 }}</li>
      <li class="gray-666 lh-title dib mr1">{{ page.subheader2 }}</li>
      <li class="gray-666 lh-title dib mr1">{{ page.subheader3 }}</li>
      <li class="gray-666 lh-title dib mr">{{ page.subheader4 }}</li>
    </ul>
  </header>
  <div>
    {{ content }}
  </div>
</article>
