---
layout: default
---
<nav class="dt w-100 border-box pa3 ph5-l mw9-l center">
<!-- <a class="dtc v-mid mid-gray link dim serif tracked-tight" href="https://{{site.url}}" title="Home"> -->
    <h3 class="lh-solid mv0">Jimmy Young</h3>
  </a>
  <div class="dtc v-mid w-75 tr mono">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Email</a>

  </div>
</nav>
<article class="mt6 mb4 serif mw8 center">
  <header class="center measure-wide ph3 ph3-sm ph0-l mb6">
    <h1 class="f2 mb0">{{ page.title }}</h1>
    <ul class="list ph0 pv0 mono gray">
      <li class="dib mr2">{{ page.contributions }}</li>
      <li class="db mr2 mt3 silver">{{ page.qtr-date }}</li>
      <li class="dib mr2"></li>
      <li class="dib mr2"></li>
    </ul>
  </header>
  <div>
    {{ content }}
  </div>
</article>
